{% extends "layout.html.twig" %}

{% block title %}{{ billet.BilletTitle }}{% endblock %}

{% block content %}
<p>
    <h2>{{ billet.BilletTitle }}</h2>
    <p>{{ billet.BilletContent | raw }} </p>
    
    <h3>Commentaires</h3>
    
{% macro comment_display(comment, comments) %} 

    <div class="commentLevel_{{ comment.ComLevel }}"> <strong>{{ comment.ComAuthor }}</strong> dit : {{ comment.ComContent }}<br> 
    
        <div id="actionCom">

            {% if comment.ComLevel <= 1 %}
                <a class="comResponse" href="{{ path('response',{ 'com_id': comment.ComId,'billet_id': comment.Billet.BilletId }) }}"> Répondre </a> 
            {% endif %}

            {% if comment.ComSignal == 0 %}
                <div id="reportCom">
                    <a class="comSignal" href="{{ path('report',{ 'com_id': comment.ComId,'billet_id': comment.Billet.BilletId }) }}"> Signaler </a></p>
                </div>

            {% else %}
                <a> Ce commentaire est déjà signalé</a>
            {% endif %}
        </div>

    </div>

            {% for commentChild in comments %}
                    
                {% if commentChild.ParentId == comment.ComId %}
                     {{ _self.comment_display(commentChild, comments) }}
                {% endif %}

            {% endfor %}

{% endmacro %}

{% for comment in comments %}

    {% if comment.ParentId == 0 %}

        {{ _self.comment_display(comment, comments) }}
        
    {% endif %}

{% else %}
       Il n'y a pas encore de commentaire.
{% endfor %}

    <h3>Ajouter un commentaire</h3>
  
        {{ form_start(commentForm) }}
            
            <div class="form-group"> 
                
                <!-- User authentificated : com_author value is the username  -->
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ form_widget(commentForm.com_author, { 'attr':  {
                    'class': 'form-control',
                    'placeholder': 'Entrer votre pseudo',
                    'value' : (app.user.username)
                }}) }}
                
                <!-- User unknow : com_author value is empty  -->
                {% else %}
                {{ form_widget(commentForm.com_author, { 'attr':  {
                    'class': 'form-control',
                    'placeholder': 'Entrer votre pseudo'
                }}) }}
                {% endif %}
                {{ form_errors(commentForm.com_content) }}
                {{ form_widget(commentForm.com_content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Entrer votre commentaire'
                }}) }}
                
                {{ form_widget(commentForm.parent_id, { 'attr':  {
                    'class': 'form-control',
                    'value' : 0
                }}) }}
                
                {{ form_widget(commentForm.com_level, { 'attr':  {
                    'class': 'form-control',
                    'value' : 0
                }}) }}
            </div>
            
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publier un commentaire" />
            </div>


        {{ form_end(commentForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %} 

   </p>
{% endblock %}