{% extends "layout.html.twig" %}

{% block title %}{{ billet.BilletTitle }}{% endblock %}

{% block content %}
<p>
    <h2>{{ billet.BilletTitle }}</h2>
    <p>{{ billet.BilletContent }}</p>
    
    <h3>Comments</h3>
    {% for comment in comments %}
        <strong>{{ comment.ComAuthor.username }}</strong> said : {{ comment.ComContent }}<br>
    {% else %}
        No comments yet.
    {% endfor %}

    <h3>Add a comment</h3>
    {% if commentForm %}
        {{ form_start(commentForm) }}
            <div class="form-group">
                {{ form_errors(commentForm.com_content) }}
                {{ form_widget(commentForm.com_content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Enter your comment'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publish comment" />
            </div>
        {{ form_end(commentForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %} 

    {% else %}
        <a href="{{ path('login') }} ">Log in</a> to add comments.
    {% endif %}
</p>
{% endblock %}