    {% extends "layout.html.twig" %}

    {% block title %}Home{% endblock %}

    {% block content %}
    
    {% for billet in billets %}
        
        <article>
            
            <h2><a class="billetTitle" href="{{ path('billet', { 'billet_id': billet.BilletId }) }}">{{ billet.BilletTitle }} </a></h2>
            
            <p>{{ billet.BilletContent | raw }} </p>
            
            <p id="nombreCom"><a class="billetTitle" href="{{ path('billet', { 'billet_id': billet.BilletId }) }}">  {{ billet.NbComment }} commentaire(s)</a></p>
       
        </article>
    
    {% endfor %}

    {% endblock %}