{% extends "layout.html.twig" %}

{% block title %}{{ billet.BilletTitle }}{% endblock %}

{% block content %}
<p>
    
    <h3>Commentaire</h3>
    
        <strong>{{ comment.ComAuthor }}</strong> dit : {{ comment.ComContent }}<br>
        

    <h3>Répondre</h3>
        {% if comment.ComLevel <= 1 %}
            {{ form_start(commentForm) }}

                <div class="form-group"> 

                    <!-- User authentificated : com_author value is the username  -->
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {{ form_widget(commentForm.com_author, { 'attr':  {
                            'class': 'form-control',
                            'placeholder': 'Entrer votre pseudo',
                            'value' : (app.user.username)
                        }}) }}

                    <!-- User unknow : com_author value is empty  -->
                    {% else %}
                        {{ form_widget(commentForm.com_author, { 'attr':  {
                            'class': 'form-control',
                            'placeholder': 'Entrer votre pseudo'
                        }}) }}
                    {% endif %}

                    {{ form_errors(commentForm.com_content) }}
                    {{ form_widget(commentForm.com_content, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Entrer votre commentaire'
                    }}) }}

                    {{ form_widget(commentForm.parent_id, { 'attr':  {
                        'class': 'form-control',
                        'value' : (comment.ComId)
                    }}) }}

                    {{ form_widget(commentForm.com_level, { 'attr':  {
                        'class': 'form-control',
                        'value' : (comment.ComLevel +1)
                    }}) }}

                </div>
            
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Répondre" />
                </div>
            {{ form_end(commentForm) }}
        
        {% else %}
                    <div class="alert alert-warning"> Vous ne pouvez pas répondre à ce commentaire</div>
        {% endif %}



        
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
                <p id="returnBilletDetail"><a class="comReturn" href="{{ path('billet', { 'billet_id': billet.BilletID })}}" > Retour aux commentaires </a></p>
            </div>
        {% endfor %} 

   </p>
{% endblock %}
